{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisez votre mot de passe</h1>

     <div style="display: flex; justify-content: center;">
        <div style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6); padding: 10px;">

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Réinitialiser le mot de passe</button>
    {{ form_end(resetForm) }}

        </div>
    </div>

    <a href="{{ path('app_login') }}" class="btn btn-primary">Retour à la page connexion</a> 
{% endblock %}
