<form method="post" action="{{ path('app_back_event_calendar_delete', {'id': event_calendar.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event_calendar.id) }}">
    <button class="btn">Supprimer</button>
</form>
