{% extends 'base.html.twig' %}

{% block title %}Modifier un événement{% endblock %}

{% block body %}
    <h1>Modifier un événement</h1>

 <div style="display: flex; justify-content: center;">
        <div style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6); padding: 10px;">
    {{ include('back/event_calendar/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('back/event_calendar/_delete_form.html.twig') }}
        </div>
    </div>

    <a href="{{ path('app_back_event_calendar_index') }}">Retour à la liste</a>
{% endblock %}
