{% extends '@email/default/notification/body.html.twig'%}

{%block content %}
    <container> 
         <row>
            <columns>Bienvenue {{ username }}</columns>
         </row> 
            <column>
                <callout class="primary">
                    <p>Votre inscription à notre crèche O'BAMBINO à bien été prise en compte. A bientot!</p>
                </callout>
             </column>
         </row>
    </container>
{% endblock %}

{% block action %}
<button href="http://13.38.238.168/index.php/login" class="alert rounded">Acceder à mon compte</button>
{% endblock %}

