{% extends 'base.html.twig' %}

{% block title %}Nouveau rapport{% endblock %}

{% block body %}
    <h1>Créer un nouveau rapport</h1>

    {{ include('back/report/_form.html.twig') }}

    <a href="{{ path('app_back_report_index') }}" class="btn btn-primary">Revenir à la liste</a>
{% endblock %}
